{% extends 'base_layout.twig' %}

{% block title %}
    MeowUpload - home
{% endblock %}

{% block maincontent %}
    <div id="uploader">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <form class="form" data-act="login" id="login-form" method="post">

                    <h1 class="text-center mrgb30">Login</h1>

                    <div class="form-group l-sign-form-group">
                        {{ form_label(form.email, "Email", {'label_attr': {'class':'sr-only'} }) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr':{'class': 'form-control', 'placeholder': 'Email'}}) }}
                    </div>

                    <div class="form-group l-sign-form-group">
                        {{ form_label(form.password, "Password", {'label_attr': {'class':'sr-only'} }) }}
                        {{ form_errors(form.password) }}
                        {{ form_widget(form.password, {'attr':{'class': 'form-control', 'placeholder': 'Password'}}) }}
                    </div>

                    <div class="l-sign-inner">

                        <div class="alert alert-danger hidden">ERROR</div>

                        <div class="l-sign-btn">
                            <button id="login-form-button" type="submit" class="btn btn-primary btn-wmid">Log in</button>
                        </div>

                    </div><!-- /.l-sign-inner -->

                </form>
            </div>
        </div>
    </div>
{% endblock %}