{% extends 'base_layout.twig' %}

{% block title %}
    MeowUpload - home
{% endblock %}

{% block maincontent %}
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <form class="form" data-act="signup" id="login-form" method="post">

                    <h1 class="text-center mrgb30">Sign up </h1>

                    <div class="form-group l-sign-form-group">
                        {{ form_label(form.login, "Username", {'label_attr': {'class':'sr-only'} }) }}
                        {{ form_errors(form.login) }}
                        {{ form_widget(form.login, {'attr':{'class': 'form-control', 'placeholder': 'Username'}}) }}
                    </div>

                    <div class="form-group l-sign-form-group">
                        {{ form_label(form.email, "Email", {'label_attr': {'class':'sr-only'} }) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr':{'class': 'form-control', 'placeholder': 'Email'}}) }}
                    </div>

                    <div class="form-group l-sign-form-group">
                        {{ form_label(form.password.first, "Password", {'label_attr': {'class':'sr-only'} }) }}
                        {{ form_errors(form.password.first) }}
                        {{ form_widget(form.password.first, {'attr':{'class': 'form-control', 'placeholder': 'Password'}}) }}
                    </div>

                    <div class="form-group l-sign-form-group">
                        {{ form_label(form.password.second, "Repeat password", {'label_attr': {'class':'sr-only'} }) }}
                        {{ form_errors(form.password.second) }}
                        {{ form_widget(form.password.second, {'attr':{'class': 'form-control', 'placeholder': 'Repeat password'}}) }}
                    </div>

                    <div class="l-sign-inner">

                        <div class="alert alert-danger hidden">ERROR</div>

                        <div class="l-sign-btn l-sign-btn-center">
                            <button id="login-form-button" type="submit" class="btn btn-primary btn-wmid">Register</button>
                        </div>
                    </div><!-- /.l-sign-inner -->

                </form>
            </div>
        </div>
{% endblock %}